<div class="container"> 
  <table border="1">
      <th>Title</th>
      <th>Duration</th>
      <th>Genre</th>
      <th>Delete</th>
      <tbody>
          <tr *ngFor="let song of songService.songs">
              <td>{{song.title}}</td>
              <td>{{song.duration}}</td>
              <td>{{song.genre}}</td>
              <td style="text-align: center;"><img style="cursor: pointer;width:20px; height: 20px;" (click)="OnDelete(song.id)" src='/assets/img/Delete.gif'></td>
          </tr>
      </tbody>
  </table>
  </div>
  